@model AlamalCharity.Models.SubscriptionsList;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="row">

    @*Clients*@
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> إشتراكات الأعضاء
            </div>
            <div class="card-block">
                <input type="button" class="btn btn-primary" style="float:left;margin-bottom:5px;" value="دفع " onclick="showInPopup('@Url.Action("PaySubs", "Subs")')">
                <table class="table table-bordered table-striped table-condensed" style="font-family:Calibri;">
                    <thead>
                        <tr>
                            <th>م</th>
                            <th>إسم العضو</th>
                            <th>السنة</th>
                            <th>يناير</th>
                            <th>فبراير</th>
                            <th>مارس</th>
                            <th>ابريل</th>
                            <th>مايو</th>
                            <th>يونيو</th>
                            <th>يوليو</th>
                            <th>اغسطس</th>
                            <th>سبتمبر</th>
                            <th>اكتوبر</th>
                            <th>نوفمبر</th>
                            <th>ديسمبر</th>
                            <th>ألإجمالي</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            if (Model.SubsList != null)
                            {
                                @foreach (var item in Model.SubsList)
                                {
                                    <tr>
                                        <td>@item.subID</td>
                                        <td>@item.subClientName</td>
                                        <td>@item.subYear</td>
                                        <td>@item.subJAN</td>
                                        <td>@item.subFEB</td>
                                        <td>@item.subMAR</td>
                                        <td>@item.subAPR</td>
                                        <td>@item.subMAY</td>
                                        <td>@item.subJUN</td>
                                        <td>@item.subJUL</td>
                                        <td>@item.subAUG</td>
                                        <td>@item.subSEP</td>
                                        <td>@item.subOCT</td>
                                        <td>@item.subNOV</td>
                                        <td>@item.subDEC</td>
                                        @if (item.subTotal > 0)
                                        {
                                            <td><span class="tag tag-success">@item.subTotal</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="tag tag-danger">0</span></td>
                                        }
                                        
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    showInPopup = (url, title) => {
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                $('#form-modal .modal-body').html(res);
                $('#form-modal .modal-title').html(title);
                $('#form-modal').modal('show');
                // to make popup draggable
                $('.modal-dialog').draggable({
                    handle: ".modal-header"
                });
            }
        })
    }
</script>