@model AlamalCharity.Models.SubModel;
@{
    Layout = null;
}

<div class="">
    <div class="card">
        <div class="card-header">
            <strong>دفع إشتراك</strong>
        </div>
        <div class="card-block">
            <form asp-controller="Clients" asp-action="AddClient" method="post" class="form-horizontal ">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="hf-email">رقم العملية</label>
                    <div class="col-md-9">
                        <input type="text" id="hf-email" name="clntID" class="form-control" style="font-family:Calibri;" value="@Model.subID" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">إسم العضو</label>
                    <div class="col-md-9">
                        <input type="text" name="clntName" class="form-control" style="font-family:Calibri;" asp-for="subClientName" placeholder="إسم العضو ..." readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 form-control-label">السنة</label>
                    <div class="col-md-9">
                        <select name="clntFamily" class="form-control" asp-for="subYear" asp-items="Model.Years" placeholder="السنة ..."></select>
                    </div>
                </div>

                <table class="table table-striped table-condensed">
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m._subJAN)
                            @Html.Label("يناير")
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m._subFEB)
                            @Html.Label("فبراير")
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m._subMAR)
                            @Html.Label("مارس")
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m._subAPR)
                            @Html.Label("أبريل")
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m._subMAY)
                            @Html.Label("مايو")
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m._subJUN)
                            @Html.Label("يونيو")
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m._subJUL)
                            @Html.Label("يوليو")
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m._subAUG)
                            @Html.Label("أغسطس")
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m._subSEP)
                            @Html.Label("سبتمبر")
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m._subOCT)
                            @Html.Label("أكتوبر")
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m._subNOV)
                            @Html.Label("نوفمبر")
                        </td>
                        <td>
                            @Html.CheckBoxFor(m => m._subDEC)
                            @Html.Label("ديسمبر")
                        </td>
                    </tr>
                                       
                </table>

                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> حفظ</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> إفراغ</button>
                </div>
            </form>
        </div>
    </div>
</div>

