@model AlamalCharity.Models.ClientsList;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="row">

    @*Clients*@
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> أعضاء الجمعية
            </div>
            <div class="card-block">
                <input type="button" class="btn btn-primary" style="float:left;margin-bottom:5px;" value="إضافة عضو" onclick="showInPopup('@Url.Action("AddClient", "Clients")')">
            </div>
            <div class="card-block">
                <table id="customtable" class="table table-bordered table-striped tableFixHead table-condensed" style="font-family:Calibri;">
                    <thead>
                        <tr>
                            <th>م</th>
                            <th>إسم العضو</th>
                            <th>العائلة</th>
                            <th>رقم الجوال</th>
                            <th>تاريخ الإضافة</th>
                            <th>الحالة</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                            <td>رقم العضو</td>
                            <td>إسم العضو</td>
                            <td>العائلة</td>
                            <td>رقم الجوال</td>
                            <td>تاريخ الإضافة</td>
                            <td>الحالة</td>
                            <td></td>
                        </tr>*@
                        @if (Model != null)
                        {
                            if (Model.Clients != null)
                            {
                                @foreach (var item in Model.Clients)
                                {
                                    <tr>
                                        <td>@item.clntID</td>
                                        <td>@item.clntName</td>
                                        <td>@item.clntFamilyValue</td>
                                        <td>@item.clntMobile</td>
                                        <td>@item.clntAddDate</td>
                                        @if (item.clntStatus == 1)
                                        {
                                            <td><span class="tag tag-success">مفعل</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="tag tag-danger">غير مفعل</span></td>
                                        }
                                        <td>
                                            <input type="button" class=" btn btn-info" value="تعديل " onclick="showInPopup('@Url.Action("UpdateClient", "Clients", new { ID = item.clntID})')">
                                            <input type="button" class="btn btn-success" value="دفع " onclick="showInPopup('@Url.Action("PaySubs", "Subs", new { ID = item.clntID})')">
                                        </td>

                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@*<script type="text/javascript">
    showInPopup = (url, title) => {
        $.ajax({
            type: 'GET',
            url: url,
            success: function (res) {
                $('#form-modal .modal-body').html(res);
                $('#form-modal .modal-title').html(title);
                $('#form-modal').modal('show');
                // to make popup draggable
                $('.modal-dialog').draggable({
                    handle: ".modal-header"
                });
            }
        })
    }
</script>*@